.contextMenuContainer {
    position: relative;
}

.contextMenu {
    position: fixed;
    padding: 1px;
    border: 1px solid black;
    background-color: white;
}

.contextMenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contextMenu li {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.contextMenu li:hover {
    background-color: lightblue;
    text-decoration: none;
}

