@use "palette.scss";

/*
The frontpage
*/

/* The box that makes out the frontpage */
.frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 60em;
    max-height: 40em;

    padding: 20px;

    text-align: center;
}
