@use "palette.scss";

.front-page {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;

    width: 100%;
    padding: 20px;

    text-align: center;
}
