@use "palette.scss";

/*
The graph which graphically shows data relative to one another
*/

/* The container of the graph (surronding all graph content) */
.graph__container {

    @include palette.graph;

    height: 400px;
    width: 100%;
}

/* The tooltip of the graph. Shown when mouse is hovering over it */
.graph__tooltip {
    display: flex;
    flex-direction: column;
    z-index: 1;

    min-width: 8em;
    max-width: 20em;
    padding: 3px;
    border: 1px solid black;

    @include palette.popup;

    /* Header of tooltip. Assumed to be text, but must not be */
    .graph__tooltipTop {
        width: 100%;
        padding-bottom: 2px;
        border-bottom: solid 2px rgba(0,0,0,0.5);

        text-align: center;
    }

    /* Tooltip content beneath header */
    .graph__tooltipContent {
        display: flex;
        flex-direction: column;
        gap: 2px;

        padding-top: 2px;

        /* Row of content on tooltip. Assumed to be text, but must not be */
        .graph__tooltipRow {
            padding: 0 4px;
        }
    }
}
