@use "palette.scss";

.investigationPage__container {
    display: flex;

    background-color: rgb(151, 151, 151);
    width: 200rem;
    border: 1px solid rgb(0, 0, 0);
    color: black;


    .investigationPage__column {
        padding: 15px;
    }

    /* First column */
    .investigationPage__column:first-child {

        .investigationPage__header {
            font-size: 24px;
        }

        .investigationPage__leftButtons {

            button {
                padding: 4px 10px;
            }

            /* Keep spacing between children */
            >*:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    /* Second column */
    .investigationPage__column:last-child {

        .investigationPage__filtered, .investigationPage__all {
            min-width: 20em;
            padding: 10px;
            @include palette.soundchain-list;

            /* All interactable list items in the lists */
            .listItemCollapsable, .listItemAction {
                @include palette.soundchain-list-button;
            }
        }

        /* Keep spacing between children */
        >*:not(:last-child) {
            margin-bottom: 10px;
        }


    }
}


