@use "palette.scss";

/*
The investigation page.
*/

/* Wrapper of the whole investigation page */
.investigationPage__container {
    display: flex;
    gap: 25px;

    padding: 25px 40px;

    /* The columns of content on the page */
    .investigationPage__column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        min-width: 25em;
    }
}

/* Header of the page */
.investigationPage__header {
    font-size: 24px;
}

/* The group of buttons on the page */
.investigationPage__leftButtons {

    /* The actual button */
    button {
        padding: 4px 10px;
    }
}

/* The list of found soundchains */
.investigationPage__filtered, .investigationPage__all {
    min-width: 20em;
    padding: 10px;
    @include palette.soundchain-list;

    /* All interactable list items in the lists */
    .listItemButton {
        @include palette.soundchain-list-button;
    }
}
