@use "palette.scss";

/*
The left menu that is on all the pages
*/

/* The left menu component */
.leftMenu__container {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: 20em;

    flex: 0 0 25em;

    @include palette.left-menu;

    /* Space and border inbetween sections of the left menu */
    > :not(:last-child) {
        @include palette.left-menu-borders;

        padding-bottom: 15px;
        border-bottom: 2px solid;
        margin-bottom: 15px;
    }

    /* The top section of left menu
    This element should not be stylized as it represents a section of the left menu*/
    .leftMenu__top {

        /* The button (or title but will have an action) */
        .leftMenu__button {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;

            width: 100%;
            height: 100%;
            padding: 20px 10px;
            margin: 0;

            font-size: 1.3rem;

            @include palette.interactable;
            @include palette.left-menu-button;

            /* The text */
            p {
                margin: 0;
            }

            /* The icon */
            .leftMenu__icon {
                transform: rotate(20deg) translate(1px, -7px);
            }
        }
    }

    /* The lists of left menu. Represents seperate sections as well */
    .dossierListMenu, .investigationListMenu {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 15px;

        /* All interactable list items in left menu */
        .listItemCollapsable, .listItemAction {
            .listItemButton {
                @include palette.interactable;
                @include palette.left-menu-button;
            }
        }
    }
}
