@use "palette.scss";
@use "ListMenu.scss";

/* The left-menu component */
.left-menu {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: 20em;

    flex: 0 0 25em;

    @include palette.left-menu;

    /* Space and border inbetween elements */
    > :not(:last-child) {
        @include palette.left-menu-borders;

        padding-bottom: 15px;
        border-bottom: 2px solid;
        margin-bottom: 15px;
    }

    .left-menu__top {
        .left-menu__button {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;

            width: 100%;
            height: 100%;
            padding: 20px 10px;
            margin: 0;

            font-size: 1.3rem;

            @include palette.interactable;
            @include palette.left-menu-button;

            p {
                margin: 0;
            }

            .left-menu__icon {
                transform: rotate(20deg) translate(1px, -7px);
            }
        }
    }

    /* The lists of left-menu */
    .dossier_listmenu, .investigation_listmenu {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 15px;
    }

    /* All interactable list items in left-menu */
    .listItemCollapsable, .listItemAction {
        .listItemButton {
            @include palette.interactable;
            @include palette.left-menu-button;
        }
    }
}
