@use "palette.scss";

/*
The wrapper that surronds all content and makes out the content of the page
*/

.mainView {
    display: flex;

    width: 100%;
    min-height: 100vh;

    @include palette.page;
}

.mainView__description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    flex: 1;
}
