@use "palette.scss";

.main-view {
    display: flex;

    width: 100%;
    min-height: 100vh;

    @include palette.page;
}

.main-view__description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    flex: 1;
}
