@use "palette.scss";

.mediaControl__container {
    width: 100%;

    border-radius: 5px;
}


/* Buttons */
.mediaControl__buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;

    /* Keep the same spacing on left side to have buttons be centered */
    $width-of-volumeBar: 30%;

    .mediaControl__timeStamps {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $width-of-volumeBar;

        white-space: pre;

        /* The time stamps at the beginning and end. */
        .progressBar__currentTime, .progressBar__endTime {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0 15px;
        }
    }

    .mediaControl__controller {
        display: flex;
        align-items: center;

        .mediaControl__backwardsButton, .mediaControl__forwardButton, .mediaControl__stopPlayButton {
            @include palette.media-control-button;

            font-size: 18px;

            /* Active buttons */
            &:not([disabled]) {
                @include palette.interactable;
            }
        }

        .mediaControl__stopPlayButton {
            margin: 0 14px;

            font-size: 22px;
        }
    }

    /* The volumne bar. Shares flexbox with mediacontroler so shares file. */
    .volumeBar__container {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        width: $width-of-volumeBar;

        /* The volume button */
        .volumeBar__button {
            display: flex;

            padding: 4px;

            font-size: 18px;

            @include palette.media-control-button;

            &:not([disabled]) {
                @include palette.interactable;
            }
        }

        /* The bar for volume control */
        .volumeBar__bar {
            width: 100%;
            height: 15px;

            @include palette.media-control-bar;

            &:not([disabled]) {
                @include palette.interactable;
            }
        }

        .volumeBar__barFill {
            height: 100%;
        }
    }
}
