@use "palette.scss";

/*
The controller of the audio playback.
*/

/* The container that wraps all content of the media control. */
.mediaControl__container {
    width: 100%;

    border-radius: 5px;
}


/* All the buttons of the media control */
.mediaControl__buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;

    /* Keep the same spacing on left side to have buttons be centered */
    $width-of-volumeBar: 30%;

    /* The timestamps that show the player time */
    .mediaControl__timeStamps {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $width-of-volumeBar;

        white-space: pre;

        /* The actual time stamps */
        .progressBar__currentTime, .progressBar__endTime {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0 15px;
        }
    }

    /* The playback controller */
    .mediaControl__controller {
        display: flex;
        align-items: center;

        /* All the buttons of the playback controller */
        .mediaControl__backwardsButton, .mediaControl__forwardButton, .mediaControl__stopPlayButton {
            @include palette.media-control-button;

            font-size: 18px;

            /* If it is enabled */
            &:not([disabled]) {
                @include palette.interactable;
            }
        }

        /* Only the stop and playback button (inbetween the other two buttons) */
        .mediaControl__stopPlayButton {
            margin: 0 14px;

            font-size: 22px;
        }
    }

    /* The volume bar that controls the playback volume */
    .volumeBar__container {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        width: $width-of-volumeBar;

        /* The mute button */
        .volumeBar__button {
            display: flex;

            padding: 4px;

            font-size: 18px;

            @include palette.media-control-button;

            /* If it is enabled */
            &:not([disabled]) {
                @include palette.interactable;
            }
        }

        /* The bar of the volume control. Assumed direct child is fill */
        .volumeBar__bar {
            width: 100%;
            height: 15px;

            @include palette.media-control-bar;

            /* If it is enabled */
            &:not([disabled]) {
                @include palette.interactable;
            }

            /* The bar fill that shows the value of the bar */
            .volumeBar__barFill {
                height: 100%;
            }
        }
    }
}
