.metadata__container {
    margin-top: 5px;
    width: 100%;
    background: white;
    border-radius: 5px;
}

.metadata__header {
    font-weight: bold;
    padding: 3px;
    background: lightgray;
    border-radius: 5px;
}

.metadata__metadata-name {
    float: left;
    padding: 3px;
    border-radius: 5px;
}

.metadata__metadata-date {
    float: right;
    clear: right;
    padding: 3px;
    border-radius: 5px;
}

.metadata__metadata-dossiers-div {
    clear: both;
    padding: 3px;
    border-radius: 5px;
}
