.metadata__container {
    width: 100%;
    padding: 5px;
    background: white;
    border-radius: 5px;
}

.metadata__header {
    font-weight: bold;
    padding: 3px;
    background: lightgray;
    border-radius: 5px;
}

.metadata__name {
    float: left;
    padding: 3px;
    border-radius: 5px;
}

.metadata__date {
    float: right;
    clear: right;
    padding: 3px;
    border-radius: 5px;
}

.metadata__format {
    float: right;
    clear: right;
    padding: 3px;
    border-radius: 5px;
}

.metadata__dossiersDiv {
    clear: both;
    padding: 3px;
    border-radius: 5px;
}
