.notes__container {
    margin-top: 5px;
    padding: 3px;
    background: lightgray;
    border-radius: 5px;
}

.notes__header {
    font-weight: bold;
}

/*
 * Notes list
 */
.notes__list__container {
    padding: 5px;
    width: 100%;
}

.notes__list__note {
    padding: 3px;
    margin-bottom: 2px;
    width: 100%;
    border-radius: 5px;
    background: lightslategrey;
}

.notes__list__header {
    color: white;
    width: 100%;
    background: white;
}

.notes__list__date {
    float: left;
    font-size: 10px;
}

.notes__list__time {
    font-size: 10px;
    float: right;
}

.notes__list__text {
    margin-top: 20px;
    border-radius: 5px;
    background: white;
}
