@use "palette.scss";

/* The container of the whole note component */
.notes__container {
    padding: 5px 10px;
    border-radius: 5px;

    @include palette.notes;

    /* Top part of the note component */
    .notes__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        /* The title for the component */
        .notes__header {
            display: flex;
            align-items: center;
            margin: 0;

            font-weight: bold;
            font-size: larger;
        }

        /* The button that collapses the new note part */
        .notes__newButton {
            padding: 6px 10px;
            border-radius: 5px;

            @include palette.note-new-button;
            @include palette.interactable;
        }
    }



    /* Direct childs of note */
    > * {
        padding: 5px;
    }
}

/* The controls for adding a new note */
.notes__newNote {
    display: flex;
    flex-direction: column;

    padding: 10px 0;
    border-top: solid 2px rgba(0, 0, 0, 0.5);
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);

    /* Hide if collapsed */
    &.collapsed {
        display: none;
    }

    /* The first column  */
    > .notes__newNoteTop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-right: 20px;

        /* The heading */
        h3 {
            font-size: larger;
            white-space: nowrap;

            padding-right: 10px;
        }

    }

    /* The actual content of the new note part. */
    .notes__newNoteBody {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 8px;

        width: 100%;


        /* Styling of the time input */
        .notes__newNoteTime {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            gap: 5px;

            align-self: flex-start;
            flex-shrink: 0;

            /* The first row */
            &>*:first-child {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
            }

            input {
                box-sizing: content-box;

                width: 5ch;
                min-height: 2em;
                padding: 3px;
                margin-left: 5px;
            }

            p {
                margin: 0;

                font-size: 0.75em;
            }
        }

        /* The input field for text of the note */
        .notes__newNoteText {
            display: flex;
            flex-direction: column;

            width: 100%;

            textarea {
                min-height: 2em;
                max-height: 20em;
                padding: 10px;
            }
        }

        /* The add button */
        button {
            padding: 4px 6px;

            white-space: nowrap;
        }
    }
}


/* The list of notes */
.noteList__container {
    width: 100%;
    max-height: max(50vh, 200px);
    margin-top: 5px;

    overflow-y: auto;

    /* Keep a distance between notes */
    .noteList__note:not(:last-child) {
        margin-bottom: 8px;
    }
}

/* A single note. As presented in the lists of notes */
.noteList__note {
    padding: 3px;

    border-radius: 5px;

    @include palette.note;

    /* Top part of note. The information */
    .noteList__header {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding: 0 10px 0.1rem;

        font-size: 0.75rem;
    }


    /* Bottom part of note. The text */
    .noteList__text {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        padding: 5px 10px;

        border-radius: 5px;

        @include palette.note-foreground;

        textarea {
            width: 100%;
            margin-bottom: 5px;
        }

        .noteList__buttons {
            @include palette.note-button;

            padding-left: 60px;
            margin-left: auto;

            /* The buttons of the note */
            button {
                padding: 0;
                margin: 0;

                line-height: 0;

                /* Should be image (could be svg, img or other) */
                >* {
                    height: 1.2em;
                    width: 1.2em;
                }
            }

            /* Keep space inbetween buttons */
            button:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

