@use "sass:map";
@import "bootstrap/scss/bootstrap-utilities.scss";


/***********************************************
 All colors of the website
 **********************************************/

/* Create background and color that has contrast to the background. */
@mixin background-and-contrast-text($bg-color) {
    background-color: $bg-color;
    color: color-contrast($bg-color);
}


/*
    Colors of templates
*/

%component {
    @include background-and-contrast-text(#d3d3d3);
}
%button {
    @include background-and-contrast-text(#c9c9c9);
}
%icon-button {
    color: #000;

    &:hover {
        color: #5A5A5A;
    }

    &[disabled] {
        color: #ABABAB;
    }
}
%bar {
    background-color: #888888;

    // Assumed that direct child of bar is its fill
    >* {
        background-color: #000;
    }

    // If bar is disabled
    &[disabled] {
        background-color: #b7b7b7;

        >* {
            background-color: #b7b7b7;
        }
    }
}

%pane-on-screen {
    @include background-and-contrast-text(#ffffff);
}
%pane-on-screen-button {
    &:hover {
        background-color: lightblue;
    }
}

/*
    Colors of general components
*/

@mixin popup {
    @extend %pane-on-screen;
}
@mixin popup-button {
    @extend %pane-on-screen-button;
}
@mixin popup-icon-button {
    @extend %icon-button;
}


/*
    Colors of specific components
*/

@mixin page {
    @include background-and-contrast-text(#b2b2b2);
    font-family: (Helvetica, Arial, sans-serif);
}

$left-menu-bg: #005596;
$left-menu-text: color-contrast($left-menu-bg);
@mixin left-menu {
    background: $left-menu-bg;
    color: $left-menu-text;
}
@mixin left-menu-borders {
    border-color: $left-menu-text;
}
@mixin left-menu-button {
    background-color: #38a9ff00;

    &:hover {
        transition: background-color 0.1s;
        background-color: #38A9FF;
    }
}


@mixin list-lines {
    font-family: ('Courier New', Courier, monospace);
}

@mixin soundchain-list {
    @include background-and-contrast-text(#fff);
}

@mixin soundchain-list-button {
    &:hover {
        transition: background-color 0.1s;
        background-color: #c5c5c5;
    }
}


@mixin file-uploader {
    @extend %component;
}


@mixin media-player {
    @extend %component;
}
@mixin media-control-button {
    @extend %icon-button;
}
@mixin media-control-bar {
    @extend %bar;
}


@mixin graph {
    background-color: white;
}


@mixin zoom-panel {
    @extend %component;
}


@mixin notes {
    @extend %component;
}
@mixin note {
    @include background-and-contrast-text(#656565);
}
@mixin note-foreground {
    @include background-and-contrast-text(#fff);
}
@mixin note-button {
    @extend %icon-button;
}


/* I made a class for this since it can be further developed easily. */
@mixin not-selectable {
    user-select: none;
}

@mixin interactable {
    @include not-selectable;
    cursor: pointer;
}
