@use "palette.scss";

/*
Popups that covers the whole screen to take focus from other components
*/

/* The box that covers the whole page */
.popup__overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
}

/* The container of the actual popup */
.popup__container {
    position: relative;
}

/* The visual popup component */
.popup__popup {
    // Place on center of screen
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    min-width: 400px;
    padding: 20px 30px;

    border-radius: 4px;

    @include palette.popup;

    box-shadow: 3px 4px 3px 0 rgba(0,0,0,0.75);

    /* Top part of the poup */
    .popup__top {
        display: flex;

        padding-bottom: 15px;
        border-bottom: lightgray 2px solid;

        /* The title text of the popup */
        .popup__title {
            width: 100%;
            padding-right: 15px;

            font-weight: bold;
        }

        /* The close button for the popup */
        .popup__closeButton {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 1.5em;

            @include palette.interactable;
            @include palette.popup-button;
        }
    }

    /* The actual content of the popup. Should be allowed to have almost anything */
    .popup__content {
        padding-top: 15px;
    }
}
