@use "palette.scss";

.popupOverlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
}

/* The window that covers the screen */
.popupContainer {
    position: relative;
}

.popup {
    // Place on center of screen
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    min-width: 400px;
    padding: 20px 30px;

    border-radius: 4px;

    @include palette.popup;

    box-shadow: 3px 4px 3px 0 rgba(0,0,0,0.75);

    .popupTop {
        display: flex;

        padding-bottom: 15px;
        border-bottom: lightgray 2px solid;

        .popupTitle {
            width: 100%;
            padding-right: 15px;

            font-weight: bold;
        }

        .popupCloseButton {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 1.5em;

            @include palette.interactable;
            @include palette.popup-button;
        }
    }

    .popupContent {
        padding-top: 15px;
    }
}
