@use "palette.scss";

.progressBar__container {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;

    /* The progressBar */
    .progressBar__bar {
        overflow: hidden;

        width: 100%;
        height: 20px;

        @include palette.media-control-bar;
        border-radius: 5px;

        /* The color that fills the progressBar */
        .progressBar__progress {
            height: 100%;
            width: 0%;
        }

        &:not([disabled]) {
            @include palette.interactable;
        }
    }
}



