.progressBar__container {
    width: 100%;
    margin-top: 5px;
    padding-bottom: 2px;
    display: flex;
}

.progressBar__bar {
    width: 71%;
    height: 20px;
    background: gray;
    border-radius: 5px;
}

.progressBar__progress {
    height: 100%;
    background: black;
    border-radius: 5px;
}

.progressBar__currentTime {
    width: 14%;
    margin-top: -2px;
}

.progressBar__endTime {
    width: 9%;
    margin-left: 5px;
    margin-top: -2px;
}
