.soundClassFilter__container {
    padding-top: 10px;
}

.soundClassFilter__header {
    font-size: 30px;
}

.soundClassFilter__input {
    padding: 3px;
    font-size: 20px;
}

.soundClassFilter__input::placeholder {
    font-style: italic;
}

.soundClassFilter__listContainer {
    list-style: none;
}

.soundClassFilter__listHeader {
    padding-top: 5px;
    font-size: 20px;
}

.soundClassFilter__list {}

.soundClassFilter__listRemove {
    font-weight: bold;
    float: right;
    margin-right: 30%;
}

.soundClassFilterInput__popup {
    background: white;
    border: 1px solid black;
    position: fixed;
    height: auto;
    max-height: 25%;
    overflow: scroll;
}

.soundClassFilterInput__popupChoice:hover {
    background: lightblue;
}
