.soundClassFilter__container {
    padding-top: 10px;
}

.soundClassFilter__header {
    font-size: 30px;
}

.soundClassFilter__input {
    padding: 3px;
    font-size: 20px;
}

.soundClassFilter__input::placeholder {
    font-style: italic;
}

.soundClassFilter__listContainer {
    list-style: none;
}

.soundClassFilter__listHeader {
    padding-top: 5px;
    font-size: 20px;
}

.soundClassFilter__list {}

.soundClassFilter__listRemove {
    font-weight: bold;
    float: left;
    margin-right: 4%;
    border-radius: 20%;
    padding-left: 2%;
    padding-right: 2%;
}
