.soundClassFilterInput__container {
    padding-top: 10px;
}

.soundClassFilterInput__header {
    font-size: 20px;
}

.soundClassFilterInput__input {
    padding: 3px;
}

.soundClassFilterInput__input::placeholder {
    font-style: italic;
}

.soundClassFilterInput__listContainer {
}

.soundClassFilterInput__listHeader {
    padding-top: 5px;
    font-size: 17px;
}

.soundClassFilterInput__list {

}

.soundClassFilterInput__listRemove {
    font-weight: bold;
    float: right;
    margin-right: 30%;
}

.soundClassFilterInput__popup {
    background: white;
    border: 1px solid black;
    position: fixed;
    height: auto;
    max-height: 25%;
    overflow: scroll;
}

.soundClassFilterInput__popupChoice:hover {
    background: lightblue;
}
