.volumeBar__container {
    margin-right: 5px;
    margin-top: 4px;
    float: right;
    width: 30%;
}

.volumeBar__button {
    font-size: 18px;
    float: left;
}
.volumeBar__button:hover {
    color: lightslategray;
}

.volumeBar__bar {
    float: right;
    width: 82%;
    height: 15px;
    border: 1px solid black;
    margin-top: 9px;
}

.volumeBar__barFill {
    background: black;
    height: 100%;
}
